# this file is based on the examples provided in scikit-bio's .coveragerc

[run]
omit =
    */tests*
    */__init__.py
source = ghosttree
branch = True
include = */ghosttree/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */tests*
    */__init__.py
